<div class="banner" id="mysite" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddxlnxcu5/image/upload/v1653352990/photo-1577985051167-0d49eec21977_o8w3uv.avif)">
  <div class="container">
    <%# <h1>Smart Tests</h1>
    <p>teach.think.test.</p> %>
  <%= image_tag 'logo.png', class: "img-fluid" %>

    <p><%= link_to 'I\'m a teacher', localhost:3000, class: "btn btn-primary"%>
    <%= link_to 'I\'m a student', localhost:3000, class: "btn btn-primary"%></p>
  </div>
</div>



<%# <script> %>

<%# //Fullscreen mode
  function getFullscreenElement() {
      return document.fullscreenElement
        || document.webkitFullscreenElement
        || document.mozFullscreenElement
        || document.msFullscreenElement;
  }

  function toggleFullscreen() {
      if (getFullscreenElement()) {
          document.exitFullscreen();
      } else {
        document.getElementById("mysite").requestFullscreen().catch(console.log);
      }
  }

  document.addEventListener("click", () => {
      toggleFullscreen();
  });

  document.addEventListener("fullscreenchange", () => {
      console.log("full screen changed!");
  });


//Switched tab
  window.onblur = function () {
    // do some stuff after tab was changed e.g.
    alert('You switched the tab');
}

  let siteTitle = '';
  window.addEventListener('blur', () => {
    siteTitle = document.title;
    document.title = 'Come back! :c';
  });
  window.addEventListener('focus', () => {
    document.title = siteTitle;
  });
</script> %>
